<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poulty Batch Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/3/paper/bootstrap.css" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
        html, body {
            height: 100%;
        }
        body {
            margin: 0;
        }
        .flex-container {
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .row {
            padding-top:20px;
            height:100%;
            width: auto;
        }

        .flex-item {
            padding: 24px;
            width: auto;
            height: 70%;
            margin: 10px;
            line-height: 20px;
            font-size: 1em;
        }

        .message{
            font-size:1.2em;
            text-align:center;
            color:brown;
        }

        .title{
            font-size:2em;
            text-align:center;

        }
        </style>
       </head>
    <body>

    <div class="">
    <div class="row flex-container">

    <form class ="flex-item card col-md-4">
    <h3 class="title worning" >Reset password</h3>
    <p></p>
    <div class="form-group d-none">
      <label for="exampleInputEmail1">Token</label>
      <input type="email" value="<?php echo $token ?>" class="form-control" id="token" aria-describedby="token" placeholder="Token">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">New Password</label>
      <input type="password" class="form-control" id="new_password" placeholder="Enter new password">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" placeholder="Confirm new password">
    </div>

    <button id="reset_button" type="submit" class="btn btn-primary">Reset</button>

    <br>
    <br>
    <p></p>
    <p></p>
    <p class="message" id="message"></p>

  </form>
  </div>

  </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>

    $(document).ready(function(){

    $("#reset_button").click(function(){

    var new_password = $("#new_password").val();
    var confirm_password = $("#confirm_password").val();
    var reset_token = $("#token").val();

    var echo = function(message){
        $("#message").text(message);
    }

    if(new_password !== confirm_password){
        echo("Passwords do not match.")
    }

    // Checking for blank fields.
    if(new_password === ''){
        echo ("Please Enter a valid passowrd!");
    }else {
        echo("Loading...");
        $.post("https://batchrecords.herokuapp.com/user/password/update",
        { password: new_password,token:reset_token},
        function(data) {
            echo(data);
        });

    }

    });

    });

    </script>

    </body>
</html>


